/* menu */
#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   /* position: fixed; MANTIENE LA POSICION  DEL MENU */ 
   }

   /* items del menu */

#menu ul li {
    background-color:#5b78a7;
   }

   /* enlaces del menu */

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }

   /* items del menu */

#menu ul li {
   position:relative; /*se mueve o ajusta segun el contenido*/
    float:left;
    margin:0;
    padding:0;
   }

   /* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background:#c0d0e9;
   }