body{
    background-color: rgb(235, 224, 224) ;
 }
 table{
    text-align: center;
    width: 100%;
    background-color: white;
    border-collapse: collapse;
 }
 thead{
    background-color: #4CAF50;
    color: #fff;
 }
 thead tr th{
    padding-top: 10px;
    padding-bottom: 10px;
 }
 tbody tr:nth-child(even){
    background-color: #ebeaea;
 }
 tr td{
    padding-top: 10px;
    padding-bottom: 10px;
 }
 td{
    border:solid 1px #ddd
 }
 
 